
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1{
    color: rgb(22, 19, 206);
    font-size: 300px;
    position: fixed;
    margin: 0%;
} 

body{
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto';
   
}

.imgages >img{
height: 700px;
}

.contact>*{
    width:6em;
}
